<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type ="text/javascript">

			colors = ["red",  "blue", "green"];
			$(document).ready(function(){
				getKeys();
				get_recent();
			});

			function get_recent(){
				$.getJSON('/recents', function(data){
					window.console.log(data);
					$('#recent-keys').html("");
					var count = 0;
					for (key in data){
						count += 1;
						var col = colors[Math.floor(data[key].ttl*3.0/90.0)] || "black";
						$('#recent-keys').append($("<li> "+ key + " priority:" + data[key].priority + " time left  "+data[key].ttl+" s </li>" ).css("color", col));
					}
				setTimeout(get_recent, 2500);
				});
			}

			function getKeys(){
				$.getJSON('/subjects', function(data){
					$("#keys").html("");
					var count=0;
					for (key in data){
						count+=1;
						var col = colors[Math.floor(data[key].ttl*3.0/90.0)] || "black";
						$("#keys").append($("<li> "+ key +" time left  "+data[key].ttl+" s </li>" ).css("color", col));

					}
					$("#count").html(count);
					setTimeout(getKeys, 2000);
				});
			}

		</script>
	</head>
	<body>
		<h1>Telescope Status <%=@status%></h1>
		<!img src="http://top-people.starmedia.com/tmp/swotti/cacheZNJHBMSGEMFWCGE=UGVVCGXLLVBLB3BSZQ==/imgFrank%20Zappa3.jpg" style="position:absolute; top:10px; right:10px">
		<img src="http://musicadefondo.files.wordpress.com/2009/09/cruising-with-ruben-and-the-jets4.jpg?w=380" style="position:absolute; top:10px; right:10px"
		<p>Ruben is currently observing target <%=@observation_id%> and has the following  <span id="	count"></span> keys: </p>

		<h2>Pending subjects</h2>
		<ul id="keys" style="list-format">
			<% @keys.each do |key| %>
				<li> <%=key%> </li>
			<%end%>
		</ul>

		<h2>Recent subjects</h2>

		<ul id="recent-keys" style="list-format">
			<% @recent_subjects.each do |key| %>
				<li> <%=key%> </li>
			<%end%>
		</ul>

		<h2>Pending data</h2>
		<ul id="keys" style="list-format">
			<% @data_keys.each do |key| %>
				<li> <%=key%> </li>
			<%end%>
		</ul>

		<h2> errors </h2>
		<p id='errors'>
			<%=@errors%>
		</p>

		<h2> report </h2>
		<p id='report'>
			<%=@report%>
		</p>

		<h3>Random keys</h3>
		<ul>
			<li><%= @time_to_new_data %></li>
		</ul>
	</body>
</html>